{% extends 'TecAytAdminBundle:Common:layout.html.twig' %}
{% set sideBar = 'home' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <!-- Main content -->
        <section class="content">
            <div class="row">

            </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}